body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 1.125 rem;
}





.image-full {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 675px) {
  .article-recent {
      flex-direction: row;
      justify-content: space-between;
  }

  .article-recent-main {
      width: 60%;
  }

  .article-recent-secondary {
      width: 30%;
  }

  .article-image {
      order: -2;
      width: 100%;
      min-height: 250px;
      object-fit: cover;
  }

  .article-info {
      order: -1;
  }

  .article-featured {
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 675px) {
  .container-flex {
      flex-direction: row;
  }

  main {
      width: 70%;
  }

  aside {
      width: 25%;
      min-width: 200px;
      margin-left: 1em;
  }

  .site-title {
      text-align: left;
  }
  .ul{
      flex-direction: row;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #1792d2;
  font-weight: bolder;
  text-transform: uppercase;
}
a:hover,
a:focus {
  color: #143774;
}
