.widget-title {
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-left: 1.1em;
    text-align: left;
    text-transform: uppercase;
  }
  
  .widget-title,
  .widget-recent-title {
    font-size: 1.25rem;
  }
  
  .widget-recent-title {
    color: #143774;
  }
  
  .sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 0.4em;
    padding-top: 1em;
  }
  
  .widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin: 1em;
  }
  
  .widget-recent-post:last-child {
    border: 0;
    margin: 1em;
  }
  
  .widget-image {
    order: -1;
  }
  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .container-flex {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }